/* Estilizar el selector de fecha para diferentes navegadores */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Eliminar el borde al hacer focus en Safari */
input[type="date"]::-webkit-date-and-time-value {
    text-align: left;
}